# CSCI 4022 Final Project: Movie Recommendation with K-Means

## Kate McCarthy and Téa Wright

description of project? -- also put descriptions throughout

In [72]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
from ast import literal_eval
from sklearn.cluster import KMeans

Since, the datasets for keywords and metadata have close to 50,000 rows and the ratings has 26 million, Pandas will have better performance than Numpy, so we are loading the data in as Pandas dataframes.

In [2]:
# load in data as csv -- should we use numpy or pandas?
keywords = pd.read_csv('data/keywords.csv')
metadata = pd.read_csv('data/movies_metadata.csv')
ratings = pd.read_csv('data/ratings_small.csv')

/Users/teaywright/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
print("Keywords shape:",keywords.shape)
print("Metadata shape:",metadata.shape)
print("Ratings shape:",ratings.shape)

Keywords shape: (46419, 2)
Metadata shape: (45466, 24)
Ratings shape: (100004, 4)

In [4]:
# test cells -- making sure data sets are comparable sizes and look right
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [5]:
metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [6]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [7]:
#make sure keywords and ratings have the same movies included -- takes size down by a lot

keywords = keywords.rename(columns={"id": "movieId", "keywords": "keywords"})
merged_df = pd.merge(keywords, ratings, on='movieId', how='inner')
ratings = merged_df.drop(columns = 'keywords')
ratings.head()

   movieId  userId  rating   timestamp
0      949      23     3.5  1148721092
1      949     102     4.0   956598942
2      949     232     2.0   955092697
3      949     242     5.0   956688825
4      949     263     3.0  1117846575

In [8]:
#Included movies -- decrease data size to 10000 ish

included_movieIds_tmp = []

for movieId in ratings['movieId']:
    included_movieIds_tmp.append(movieId)

included_movieIds = list(set(included_movieIds_tmp))

#make alphabetical
included_movieIds = sorted(included_movieIds)

print("Number of unique movies:",len(included_movieIds))
print(included_movieIds[:10])

Number of unique movies: 2830
[2, 3, 5, 6, 11, 12, 13, 14, 15, 16]

In [9]:
print("Keywords shape:",keywords.shape)
print("Metadata shape:",metadata.shape)
print("Ratings shape:",ratings.shape)

Keywords shape: (46419, 2)
Metadata shape: (45466, 24)
Ratings shape: (45010, 4)

In [10]:
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #crop at 5 keywords -- maybe make less
        if len(names) > 3:
            names = names[:3]
        return names
    return []

keywords['keywords'] = keywords['keywords'].apply(literal_eval)
keywords['keywords'] = keywords['keywords'].apply(get_list)

#cleaning lowercase, spaces, etc?

In [11]:
keywords.head()

   movieId                                           keywords
0      862                               [jealousy, toy, boy]
1     8844  [board game, disappearance, based on children'...
2    15602       [fishing, best friend, duringcreditsstinger]
3    31357  [based on novel, interracial relationship, sin...
4    11862                 [baby, midlife crisis, confidence]

In [12]:
#get unique keywords

master_keyword_list = []

for keywords_list in keywords['keywords']:
    master_keyword_list.append(keywords_list)
    
tmp = [item for sublist in master_keyword_list for item in sublist]
unique_keywords = list(set(tmp))

#make alphabetical
unique_keywords = sorted(unique_keywords)

print("Number of unique keywords:",len(unique_keywords))
print("First 10 keywords:", unique_keywords[:10])

Number of unique keywords: 9933
First 10 keywords: ["'comfort women'", '077', '16th century', '17th century', '18th century', '1910s', '1920s', '1930s', '1940s', '1950s']

In [13]:
#function to go from arr index to keyword string
def idx_to_keyword(idx):
    return unique_keywords[idx]
def keyword_to_idx(keyword):
    return unique_keywords.index(keyword)

In [14]:
#test idx_to_keyword and keyword_to_idx
idx_to_keyword(3)
keyword_to_idx('romance')

7545

In [15]:
#find number of users
master_user_list = []

for user in ratings['userId']:
    if user in master_user_list:
        continue
    master_user_list.append(user)


unique_users = list(set(master_user_list))
unique_users = sorted(unique_users)

print("Number of unique users:",len(unique_users))
print(unique_users[:10])

Number of unique users: 671
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
#initialize np array to hold samples x features where features are each keyword and samples are users
#each value in the arr is a user rating
#add 1 so no 0-indexing
keywords_ratings = np.zeros((len(unique_users)+1,len(unique_keywords)+1))
counts = np.zeros((len(unique_users)+1,len(unique_keywords)+1))

In [35]:
#populate array

for user_id in unique_users: #for each user
    print("User ID:",user_id)

    for movie_id in included_movieIds: #for each movie 
        #skip if the user hasn't rated the movie
        rating = ratings.loc[(ratings['movieId'] == movie_id) & (ratings['userId'] == user_id)]['rating'].tolist()
        
        if rating == []:
            continue
        else:
            rating = rating[0]
        
        
        #if a user has rated a movie more than once, only use the first instance
        #if len(rating) > 1:
         #   rating = rating[0]
            
        #print("Movie ID:", movie_id)
        #print("Movie Rating:", rating)
        
        #for keywords related to that movie
        keywords_list = keywords.loc[keywords['movieId'] == movie_id]['keywords'].tolist()[0]
        
        for keyword in keywords_list:
            #print("Keyword:",keyword)
            keyword_idx = keyword_to_idx(keyword)
            
            #update avearge score for that keyword for that user
            #print("Previous Arr Entry:",keywords_ratings[user_id][keyword_idx])
            counts[user_id][keyword_idx] += 1
            keywords_ratings[user_id][keyword_idx] = rating + (counts[user_id][keyword_idx] - 1)*keywords_ratings[user_id][keyword_idx]
            keywords_ratings[user_id][keyword_idx] /= counts[user_id][keyword_idx]   
            #print("Updated Arr Entry:", keywords_ratings[user_id][keyword_idx])

User ID: 1
User ID: 2
User ID: 3
User ID: 4
User ID: 5
User ID: 6
User ID: 7
User ID: 8
User ID: 9
User ID: 10
User ID: 11
User ID: 12
User ID: 13
User ID: 14
User ID: 15
User ID: 16
User ID: 17
User ID: 18
User ID: 19
User ID: 20
User ID: 21
User ID: 22
User ID: 23
User ID: 24
User ID: 25
User ID: 26
User ID: 27
User ID: 28
User ID: 29
User ID: 30
User ID: 31
User ID: 32
User ID: 33
User ID: 34
User ID: 35
User ID: 36
User ID: 37
User ID: 38
User ID: 39
User ID: 40
User ID: 41
User ID: 42
User ID: 43
User ID: 44
User ID: 45
User ID: 46
User ID: 47
User ID: 48
User ID: 49
User ID: 50
User ID: 51
User ID: 52
User ID: 53
User ID: 54
User ID: 55
User ID: 56
User ID: 57
User ID: 58
User ID: 59
User ID: 60
User ID: 61
User ID: 62
User ID: 63
User ID: 64
User ID: 65
User ID: 66
User ID: 67
User ID: 68
User ID: 69
User ID: 70
User ID: 71
User ID: 72
User ID: 73
User ID: 74
User ID: 75
User ID: 76
User ID: 77
User ID: 78
User ID: 79
User ID: 80
User ID: 81
User ID: 82
User ID: 83
User ID: 84
User ID: 85
User ID: 86
User ID: 87
User ID: 88
User ID: 89
User ID: 90
User ID: 91
User ID: 92
User ID: 93
User ID: 94
User ID: 95
User ID: 96
User ID: 97
User ID: 98
User ID: 99
User ID: 100
User ID: 101
User ID: 102
User ID: 103
User ID: 104
User ID: 105
User ID: 106
User ID: 107
User ID: 108
User ID: 109
User ID: 110
User ID: 111
User ID: 112
User ID: 113
User ID: 114
User ID: 115
User ID: 116
User ID: 117
User ID: 118
User ID: 119
User ID: 120
User ID: 121
User ID: 122
User ID: 123
User ID: 124
User ID: 125
User ID: 126
User ID: 127
User ID: 128
User ID: 129
User ID: 130
User ID: 131
User ID: 132
User ID: 133
User ID: 134
User ID: 135
User ID: 136
User ID: 137
User ID: 138
User ID: 139
User ID: 140
User ID: 141
User ID: 142
User ID: 143
User ID: 144
User ID: 145
User ID: 146
User ID: 147
User ID: 148
User ID: 149
User ID: 150
User ID: 151
User ID: 152
User ID: 153
User ID: 154
User ID: 155
User ID: 156
User ID: 157
User ID: 158
User ID: 159
User ID: 160
User ID: 161
User ID: 162
User ID: 163
User ID: 164
User ID: 165
User ID: 166
User ID: 167
User ID: 168
User ID: 169
User ID: 170
User ID: 171
User ID: 172
User ID: 173
User ID: 174
User ID: 175
User ID: 176
User ID: 177
User ID: 178
User ID: 179
User ID: 180
User ID: 181
User ID: 182
User ID: 183
User ID: 184
User ID: 185
User ID: 186
User ID: 187
User ID: 188
User ID: 189
User ID: 190
User ID: 191
User ID: 192
User ID: 193
User ID: 194
User ID: 195
User ID: 196
User ID: 197
User ID: 198
User ID: 199
User ID: 200
User ID: 201
User ID: 202
User ID: 203
User ID: 204
User ID: 205
User ID: 206
User ID: 207
User ID: 208
User ID: 209
User ID: 210
User ID: 211
User ID: 212
User ID: 213
User ID: 214
User ID: 215
User ID: 216
User ID: 217
User ID: 218
User ID: 219
User ID: 220
User ID: 221
User ID: 222
User ID: 223
User ID: 224
User ID: 225
User ID: 226
User ID: 227
User ID: 228
User ID: 229
User ID: 230
User ID: 231
User ID: 232
User ID: 233
User ID: 234
User ID: 235
User ID: 236
User ID: 237
User ID: 238
User ID: 239
User ID: 240
User ID: 241
User ID: 242
User ID: 243
User ID: 244
User ID: 245
User ID: 246
User ID: 247
User ID: 248
User ID: 249
User ID: 250
User ID: 251
User ID: 252
User ID: 253
User ID: 254
User ID: 255
User ID: 256
User ID: 257
User ID: 258
User ID: 259
User ID: 260
User ID: 261
User ID: 262
User ID: 263
User ID: 264
User ID: 265
User ID: 266
User ID: 267
User ID: 268
User ID: 269
User ID: 270
User ID: 271
User ID: 272
User ID: 273
User ID: 274
User ID: 275
User ID: 276
User ID: 277
User ID: 278
User ID: 279
User ID: 280
User ID: 281
User ID: 282
User ID: 283
User ID: 284
User ID: 285
User ID: 286
User ID: 287
User ID: 288
User ID: 289
User ID: 290
User ID: 291
User ID: 292
User ID: 293
User ID: 294
User ID: 295
User ID: 296
User ID: 297
User ID: 298
User ID: 299
User ID: 300
User ID: 301
User ID: 302
User ID: 303
User ID: 304
User ID: 305
User ID: 306
User ID: 307
User ID: 308
User ID: 309
User ID: 310
User ID: 311
User ID: 312
User ID: 313
User ID: 314
User ID: 315
User ID: 316
User ID: 317
User ID: 318
User ID: 319
User ID: 320
User ID: 321
User ID: 322
User ID: 323
User ID: 324
User ID: 325
User ID: 326
User ID: 327
User ID: 328
User ID: 329
User ID: 330
User ID: 331
User ID: 332
User ID: 333
User ID: 334
User ID: 335
User ID: 336
User ID: 337
User ID: 338
User ID: 339
User ID: 340
User ID: 341
User ID: 342
User ID: 343
User ID: 344
User ID: 345
User ID: 346
User ID: 347
User ID: 348
User ID: 349
User ID: 350
User ID: 351
User ID: 352
User ID: 353
User ID: 354
User ID: 355
User ID: 356
User ID: 357
User ID: 358
User ID: 359
User ID: 360
User ID: 361
User ID: 362
User ID: 363
User ID: 364
User ID: 365
User ID: 366
User ID: 367
User ID: 368
User ID: 369
User ID: 370
User ID: 371
User ID: 372
User ID: 373
User ID: 374
User ID: 375
User ID: 376
User ID: 377
User ID: 378
User ID: 379
User ID: 380
User ID: 381
User ID: 382
User ID: 383
User ID: 384
User ID: 385
User ID: 386
User ID: 387
User ID: 388
User ID: 389
User ID: 390
User ID: 391
User ID: 392
User ID: 393
User ID: 394
User ID: 395
User ID: 396
User ID: 397
User ID: 398
User ID: 399
User ID: 400
User ID: 401
User ID: 402
User ID: 403
User ID: 404
User ID: 405
User ID: 406
User ID: 407
User ID: 408
User ID: 409
User ID: 410
User ID: 411
User ID: 412
User ID: 413
User ID: 414
User ID: 415
User ID: 416
User ID: 417
User ID: 418
User ID: 419
User ID: 420
User ID: 421
User ID: 422
User ID: 423
User ID: 424
User ID: 425
User ID: 426
User ID: 427
User ID: 428
User ID: 429
User ID: 430
User ID: 431
User ID: 432
User ID: 433
User ID: 434
User ID: 435
User ID: 436
User ID: 437
User ID: 438
User ID: 439
User ID: 440
User ID: 441
User ID: 442
User ID: 443
User ID: 444
User ID: 445
User ID: 446
User ID: 447
User ID: 448
User ID: 449
User ID: 450
User ID: 451
User ID: 452
User ID: 453
User ID: 454
User ID: 455
User ID: 456
User ID: 457
User ID: 458
User ID: 459
User ID: 460
User ID: 461
User ID: 462
User ID: 463
User ID: 464
User ID: 465
User ID: 466
User ID: 467
User ID: 468
User ID: 469
User ID: 470
User ID: 471
User ID: 472
User ID: 473
User ID: 474
User ID: 475
User ID: 476
User ID: 477
User ID: 478
User ID: 479
User ID: 480
User ID: 481
User ID: 482
User ID: 483
User ID: 484
User ID: 485
User ID: 486
User ID: 487
User ID: 488
User ID: 489
User ID: 490
User ID: 491
User ID: 492
User ID: 493
User ID: 494
User ID: 495
User ID: 496
User ID: 497
User ID: 498
User ID: 499
User ID: 500
User ID: 501
User ID: 502
User ID: 503
User ID: 504
User ID: 505
User ID: 506
User ID: 507
User ID: 508
User ID: 509
User ID: 510
User ID: 511
User ID: 512
User ID: 513
User ID: 514
User ID: 515
User ID: 516
User ID: 517
User ID: 518
User ID: 519
User ID: 520
User ID: 521
User ID: 522
User ID: 523
User ID: 524
User ID: 525
User ID: 526
User ID: 527
User ID: 528
User ID: 529
User ID: 530
User ID: 531
User ID: 532
User ID: 533
User ID: 534
User ID: 535
User ID: 536
User ID: 537
User ID: 538
User ID: 539
User ID: 540
User ID: 541
User ID: 542
User ID: 543
User ID: 544
User ID: 545
User ID: 546
User ID: 547
User ID: 548
User ID: 549
User ID: 550
User ID: 551
User ID: 552
User ID: 553
User ID: 554
User ID: 555
User ID: 556
User ID: 557
User ID: 558
User ID: 559
User ID: 560
User ID: 561
User ID: 562
User ID: 563
User ID: 564
User ID: 565
User ID: 566
User ID: 567
User ID: 568
User ID: 569
User ID: 570
User ID: 571
User ID: 572
User ID: 573
User ID: 574
User ID: 575
User ID: 576
User ID: 577
User ID: 578
User ID: 579
User ID: 580
User ID: 581
User ID: 582
User ID: 583
User ID: 584
User ID: 585
User ID: 586
User ID: 587
User ID: 588
User ID: 589
User ID: 590
User ID: 591
User ID: 592
User ID: 593
User ID: 594
User ID: 595
User ID: 596
User ID: 597
User ID: 598
User ID: 599
User ID: 600
User ID: 601
User ID: 602
User ID: 603
User ID: 604
User ID: 605
User ID: 606
User ID: 607
User ID: 608
User ID: 609
User ID: 610
User ID: 611
User ID: 612
User ID: 613
User ID: 614
User ID: 615
User ID: 616
User ID: 617
User ID: 618
User ID: 619
User ID: 620
User ID: 621
User ID: 622
User ID: 623
User ID: 624
User ID: 625
User ID: 626
User ID: 627
User ID: 628
User ID: 629
User ID: 630
User ID: 631
User ID: 632
User ID: 633
User ID: 634
User ID: 635
User ID: 636
User ID: 637
User ID: 638
User ID: 639

User ID: 640
User ID: 641
User ID: 642
User ID: 643
User ID: 644
User ID: 645
User ID: 646
User ID: 647
User ID: 648
User ID: 649
User ID: 650
User ID: 651
User ID: 652
User ID: 653
User ID: 654
User ID: 655
User ID: 656
User ID: 657
User ID: 658
User ID: 659
User ID: 660
User ID: 661
User ID: 662
User ID: 663
User ID: 664
User ID: 665
User ID: 666
User ID: 667
User ID: 668
User ID: 669
User ID: 670
User ID: 671

In [75]:
#checking
keywords_ratings = keywords_ratings.astype(int)
print(keywords_ratings.shape)
print(np.count_nonzero(keywords_ratings))

(672, 9934)
94550

In [76]:
#convert arr back to df
keywords_ratings_df = pd.DataFrame(keywords_ratings)
keywords_ratings_df.head()

,0,1,2,3,4,5,6,7,8,9,...,9924,9925,9926,9927,9928,9929,9930,9931,9932,9933
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [95]:
#cluster users
kmeans = KMeans(n_clusters=20, random_state=0)
assignments = kmeans.fit_predict(keywords_ratings, y=None, sample_weight=None)

In [96]:
print("User cluster assignments:", assignments)

User cluster assignments: [16 16 15 11 18  4 16  4 11 16 16 16 16 11 16  3 16  0  6  7  4 18  0 12
 16  6 11 16  4 16  9 11 15  4  0 16  7 16 11 15 16 18 11  4  6 16 16 15
  0  4 15 16 16 16 16  6 12 18 16 11  4 11 16 11 15 16  4 13  4 11  6 16
 11  3  4  4 16 12 12 16  6  4 15  0 11 13  7  6  0 11  6 11 13  0  0 12
 16 11 16  0  6 16  1 11 11 12 16 16 15 11 13 12  6  6 15 11 16 16  0  2
  4 13 15 16 11  0 15 16  2 16 12 16 16 16 12 16 11  4 11 16 16 16 16 11
 15 15 11 16  4 11 17 15  0 11  6  4 16  0 16  0  4 13  6 11 11 17 16 16
 13 11 16 16 15  6 16 11 11 17 11 16 16 16 13 11 15 18 16 12 13  4 16 15
 15  4 15 14  4  4 16  0 11 11 16 16 16 11 16 16 16 16 16  6 12 17 12  4
 11  4 11  0  0 16  4  6 13 15 16 16 16 16 11 16  5  6 11  0  0  4 16 18
  0 15  2 12 11  0 16 17  4 16 11 11  6 12 13 11  6 11 16 16 16 15  0  4
 16 14 15 11 12 16 11 11 16 11 16  0 16 16  4 15 16  4 11  0  6  2 16 18
 13 16  4  4 17  4  5 12 16 11 11  0 16 16 15  0  0 16  2 11  4  0 16  5
  0 12 16 16 11 15  6 16 16  4 16 16 11 16 16  4 18  6  4 16 16 11 16 16
 16 16 15 11 16 16 14  6 13  0  0 16  4 16  0 16 11  0 15 12 16 15 14 16
 16  6 11 18 16 16 16  4 16 15  4 11 16  0 16 15 16 16 11 11 12  4 11  6
 12 13  4 14  3 15 13  4 16 16  4 16 13 16 16 16 15  4  4 16 16  0 16  8
  0 15 11 16  4  6 16 15 13 11  4 16  4 15  0  0 16 11 11  4  0 16 12 12
 11  0 18 16  4 15 16  0 15 11 12 16 16 16 16 13 16 15 11 16  5  4 11 16
 16  0 11  6  0 12  4  2 15 16 18  4  3 16 16  4  1 11 16  0 16 16 11 11
 17 12 16 11  6 16  4 13 16 16  6  4  4  4 11 15 13  4 16 16 11 11  0 16
 16 14 16  6 15  3  0  4 16 15  7 16 13 15  2  0  0 11 11  4 16  4 16 11
  4  1  4  4 16 18 17 15 13 14 15 16 16 16 16  6  0  4 16 10 13 16  4 15
 16 11 16 15 15 16  0 18  4 12 12 11  3 16 16 11 15  4 11 16 11 16 12 19
 16 12 16 16  3 16  4 16 11 14 11  1 15 15 13 16  4 13  4 18 12 14  0 16
 16 16 13 13 16 14 11 17  0 16 16 16 16 16  4  0  6  4 16 15 16  4 11 11
  3 16  4  0 16 15 16 16 11 15 16 16  6 16 16 15  6 13 16 16 16 16 18  0
  0 13  6 16  4  4  3 11  4 15  4 13 16 16 15 16 12 17 15 13 16 16 16 11]

In [ ]:
#success metric?
#how to choose num clusters?